# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*
.DS_Store

# typescript
next-env.d.ts
*.tsbuildinfo
data/embeddings.json
.claude/
.vercel
